:root {
  --primary: #8c38ff;
  --light: #EEEEEE;
  --dark: #212121;
}

@import url(http://markmurray.co/codepen/customstyle.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background: #111;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -moz-transition: all 0.3s ease 0.6s;
  -o-transition: all 0.3s ease 0.6s;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0.6s;
  -webkit-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
  z-index: 10;
  position: relative; 
}

.container.nav-open {
  width: 90%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}

/*
  menu icon 
*/

.menu-icon {
  position: relative;
  top: -1em;
  display: block;
  width: 2.5em;
  height: 0.1em;
  cursor: pointer;
}
.menu-icon:hover span {
  background: #222;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
  background: #222;
}

.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: #bbbbbb;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: background 0.25s ease, -webkit-transform 0.3s;
  transition: transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
  -webkit-transform: translateY(-0.75em);
  transform: translateY(-0.75em);
}

.menu-icon > span:after {
  -webkit-transform: translateY(0.75em);
  transform: translateY(0.75em);
}

.menu-icon.open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* menu icon--End*/

/* nav icon--Start*/

nav {
  position: fixed;
  top: 0;
  left: 5%;
  color: white;
  z-index: 1;
}
nav ul li.animate {
  top: 0;
}
nav ul li {
  display: inline-block;
  text-align: center;
  margin: 1vw 2vw;
  cursor: pointer;
  position: relative;
  top: -8em;
}
nav ul li:nth-child(1) {
  -moz-transition: top 0.3s ease 0.15s;
  -o-transition: top 0.3s ease 0.15s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.15s;
  -webkit-transition: top 0.3s ease 0.15s;
  transition: top 0.3s ease 0.15s;
}
nav ul li:nth-child(2) {
  -moz-transition: top 0.3s ease 0.2s;
  -o-transition: top 0.3s ease 0.2s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.2s;
  -webkit-transition: top 0.3s ease 0.2s;
  transition: top 0.3s ease 0.2s;
}
nav ul li:nth-child(3) {
  -moz-transition: top 0.3s ease 0.25s;
  -o-transition: top 0.3s ease 0.25s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.25s;
  -webkit-transition: top 0.3s ease 0.25s;
  transition: top 0.3s ease 0.25s;
}
nav ul li:nth-child(4) {
  -moz-transition: top 0.3s ease 0.3s;
  -o-transition: top 0.3s ease 0.3s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: top 0.3s ease 0.3s;
  transition: top 0.3s ease 0.3s;
}
nav ul li:nth-child(5) {
  -moz-transition: top 0.3s ease 0.35s;
  -o-transition: top 0.3s ease 0.35s;
  -webkit-transition: top 0.3s ease;
  -webkit-transition-delay: 0.35s;
  -webkit-transition: top 0.3s ease 0.35s;
  transition: top 0.3s ease 0.35s;
}
nav ul li i:hover:before{
  color:  #00FF00;
  transform: scale(1.2);

}

nav ul li i:hover {
  color:  #00FF00;
  box-shadow: 0 0 15px #00FF00;
  text-shadow:0 0 15px  #009e00;
}

nav ul li i {
  font-size: 1.8vw;
  background: var(--primary);
  padding: 0.75em;
  border-radius: 50%;
  color: white;
  display: inline-block;
  overflow: hidden;
  transition: .5s;
  text-shadow: 0px 0px #3e078b, 1px 1px #3e078b, 2px 2px #3e078b, 3px 3px #3e078b, 4px 4px #3e078b, 5px 5px #3e078b, 6px 6px #3e078b, 7px 7px #3e078b, 8px 8px #3e078b, 9px 9px #3e078b, 10px 10px #3e078b, 11px 11px #3e078b, 12px 12px #3e078b, 13px 13px #3e078b, 14px 14px #3e078b, 15px 15px #3e078b, 16px 16px #3e078b, 17px 17px #3e078b, 18px 18px #3e078b, 19px 19px #3e078b, 20px 20px #3e078b, 21px 21px #3e078b, 22px 22px #3e078b, 23px 23px #3e078b, 24px 24px #3e078b, 25px 25px #3e078b, 26px 26px #3e078b, 27px 27px #3e078b, 28px 28px #3e078b, 29px 29px #3e078b, 30px 30px #3e078b, 31px 31px #3e078b, 32px 32px #3e078b, 33px 33px #3e078b, 34px 34px #3e078b, 35px 35px #3e078b, 36px 36px #3e078b, 37px 37px #3e078b, 38px 38px #3e078b, 39px 39px #3e078b, 40px 40px #3e078b, 41px 41px #3e078b, 42px 42px #3e078b, 43px 43px #3e078b, 44px 44px #3e078b, 45px 45px #3e078b, 46px 46px #3e078b, 47px 47px #3e078b, 48px 48px #3e078b, 49px 49px #3e078b, 50px 50px #3e078b, 51px 51px #3e078b, 52px 52px #3e078b, 53px 53px #3e078b, 54px 54px #3e078b, 55px 55px #3e078b, 56px 56px #3e078b, 57px 57px #3e078b, 58px 58px #3e078b, 59px 59px #3e078b, 60px 60px #3e078b;
}

nav ul li h4 {
  font-weight: 600;
  font-size: 0.9em;
  color: #ffffff;
  line-height: 2.5;
  text-decoration: none;
}

/*nav icon--End*/

/*in use h-- h2,h3,h4*/

h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

/*background matrix--Start*/

canvas {
  opacity: 30%;
  width: 100%;
  left: 5.4%;  
}

/*background matrix--End*/

/*auto typing--Start*/

.type {
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;

}

.type h3 {
  font-size: 30px;
  font-weight: 600;
}

span {
  color: #fff724;
}

.overlay1 {
  position: absolute;
  left: 50%;
  /* top:100%; */
  top: 40px;
  height: 100%;

}

.wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.link_wrapper {
  position: relative;

}

.btn_link {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  box-shadow: #8c38ff 2px 2px 30px 2px;
  transition: all .35s;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #8c38ff;
  transition: all .35s;
}

.btn_link:hover {
  width: 200px;
  border: 3px solid #8c38ff;
  background: transparent;
  color: #8c38ff;
  box-shadow: rgb(237, 232, 237) 2px 2px 30px 2px;
}

.btn_link:hover+.icon {
  border: 3px solid #8c38ff;
  right: -25%;
}

@keyframes glowing {
  0% {
      /* background-color: #b9faa5; */
      box-shadow: 0 0 15px #ffffff;
  }

  50% {
      /* background-color: #bbe9ad; */
      box-shadow: 0 0 40px #9d56ff;
  }

  100% {
      /* background-color: #a3f69a; */
      box-shadow: 0 0 15px #8c38ff;
  }
}

.btn_link {
  animation: glowing 1500ms infinite;
  border-radius: 5px;
}

/*auto typing--Endt*/

/*social media--start*/

div.circle {
	height: 77px; width: 77px;
	position: absolute;
	top: 50%; left: 50%;
	z-index: 1000;
	margin: 164px 0px 0px -168px;	
	pointer-events: none;
	animation: pulse 5s infinite;
	-webkit-animation: pulse 1.5s infinite; 
	opacity: 0;
}
	@keyframes pulse {
		0%   { opacity: 0; }
		50%  { opacity: 1; }
		100% { opacity: 0; }
	}
	@-webkit-keyframes pulse {
		0%   { opacity: 0; }
		50%  { opacity: 1; }
		100% { opacity: 0; }
	}

div.content {
	height: 100%; width: 100%;
	position: absolute;
	top: 0px; left: 0px;
	z-index: 300;
	-webkit-transition: all 250ms ease;
	   -moz-transition: all 250ms ease;
	    -ms-transition: all 250ms ease;
	     -o-transition: all 250ms ease;
	        transition: all 250ms ease;
}

div.content.bounce { 
	-webkit-transform: translate3d(70px, -65px, 0px); 
	   -moz-transform: translate3d(70px, -65px, 0px); 
	     -o-transform: translate3d(70px, -65px, 0px); 
	        transform: translate3d(70px, -65px, 0px); 
}
div.content.open { 
	-webkit-transform: translate3d(60px, -55px, 0px); 
	   -moz-transform: translate3d(60px, -55px, 0px); 
	     -o-transform: translate3d(60px, -55px, 0px); 
	        transform: translate3d(60px, -55px, 0px); 
}

div.toggle {
	height: 30px; width: 40px;
	position: absolute;
	bottom: 15px; left: 10px;
	z-index: 500;
	cursor: pointer;
}
	div.x,
	div.y {
		position: absolute; margin: auto;
		top: 0px; bottom: 0px;
		left: 0px; right: 0px;
		background: #fff;
		-webkit-transition: all 200ms ease-out;
		   -moz-transition: all 200ms ease-out;
		    -ms-transition: all 200ms ease-out;
		     -o-transition: all 200ms ease-out;
		        transition: all 200ms ease-out;
	}
	div.x { height: 4px; width: 30px; }
	div.y { height: 30px; width: 4px; }
	div.x.stretch { width: 40px; }
	div.x.shrink { width: 15px; }
	div.y.minus { height: 0px; }

div.menu {
	background: #222;
	height: 100%; width: 100%;
	position: absolute;
	top: 0px; left: 0px;
	z-index: 100;
  
}

div.menu.nav-open {
  
  display: none;
}

div.content.nav-open {
  margin-top: 8em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.x.nav-open {
  display: none;
}

div.y.nav-open {
  display: none;
}
	div.menu ul {
		list-style: none;
		padding: 0px; margin: 0px;
		height: 400px;
		width: 35px;
		position: absolute;
		bottom: 60px; left: 11px;
	}
	div.menu ul li {
		margin-top: 15px;
	}
#so {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
  
	}
  
#so:hover {
    z-index: 10000;
    transform: scale(0.75);
  }
  
  div.menu ul li.mo:hover::before {
    inset: 0px;
  }

  div.menu ul li.mo.s1 {
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    transition: 0.5s;
    font-size: 2em;
  }

  div.menu ul li.mo:hover .s1 {
    font-size: 3em;
    transition: 0.5s;
    transform: rotate(360deg);
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0px 0px 40px var(--clr)) drop-shadow(0px 0px 60px var(--clr)) drop-shadow(0px 0px 80px var(--clr)) drop-shadow(0px 0px 100px var(--clr));

  }

	div.menu ul li.animate.mo {
		-webkit-transition: all 300ms ease-out;
		   -moz-transition: all 300ms ease-out;
		    -ms-transition: all 300ms ease-out;
		     -o-transition: all 300ms ease-out;
		        transition: all 300ms ease-out;
	}
	div.menu ul li.mo {  
		-webkit-transform: translate3d(-50px, -0px, 0px);
		   -moz-transform: translate3d(-50px, -0px, 0px);
		     -o-transform: translate3d(-50px, -0px, 0px);
		        transform: translate3d(-50px, -0px, 0px);
	}
	div.menu ul li.mo {  
		-webkit-transform: translate3d(-50px, 0px, 0px);
		   -moz-transform: translate3d(-50px, 0px, 0px);
		     -o-transform: translate3d(-50px, 0px, 0px);
		        transform: translate3d(-50px, 0px, 0px);
	}
  div.menu ul li.color.mo {background-color:#111;}
	div.menu ul li.move.mo { 
		-webkit-transform: translate3d(0px, 0px, 0px); 
		   -moz-transform: translate3d(0px, 0px, 0px); 
		     -o-transform: translate3d(0px, 0px, 0px); 
		        transform: translate3d(0px, 0px, 0px); 
	}
 
  /*social media--End*/

/*nav bar--start*/

.nav2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index:99;
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 3px solid var(--primary);
  justify-content: space-between;
}

/*nav title*/

h2 {
color: #fff;
font-size: 28px;
font-weight: 900;
letter-spacing: 2px;
text-transform: uppercase;
text-align: center;
}

/*nav bar--End*/
